/* background  color */
$primary-background     : linear-gradient(to right top, #ACB6E5, #86FDE8);
$secondary-background   : linear-gradient(to left top, #86FDE8, #ACB6E5);
$grey-background        : #cccccc;
$white-background       : #ffffff;

/* font colors */
$black-font             : #000000;

/* color */
$black                  : #000000;
$blue                   : #2c3e50;
$green                  : #42b983;
$red                    : #ff0000;
$white                  : #ffffff;
