@import './variables';

/* pc */
@media only screen and (min-width: 1025px) {
  .town-page{
    @include fixedContainer;

    .town-page-container {
      position: relative;
      height: 75vh;
      padding: 0px 20px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .town-page-title {
        text-transform: capitalize;
        font-weight: bold;
        color: $black;
      }

      .town-page-content {
        background: $white;
        height: 33vw;
        border-radius: 15px;
        justify-content: center;
        overflow: auto;

        .town-page-list {
          width: 100%;
          padding: 5px;
        }
      }


      /* Hide scrollbar for IE, Edge and Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }

  }

}

/* mobile */
@media only screen and (max-width: 768px) {
}
