.grass-Gradient {
    background: linear-gradient(to top, #98cf7d, #a3f8e9);
}

.fire-Gradient {
    background: #f05030;
}
.water-Gradient {
    background: #3898f8;
}
.poison-Gradient {
    background: #b058a0;
}
.psychic-Gradient {
    background: #f870a0;
}
.flying-Gradient{
    background: #98a8f0;
}
.electric-Gradient {
    background: #f8c030;
}
.dragon-Gradient {
    background: #7860e0;
}
.normal-Gradient {
    background: #a8a090;
}
.rock-Gradient {
    background: #b8a058;
}
.ice-Gradient {
    background: #58c8e0;
}
.fairy-Gradient {
    background: #f1a7f9;
}
.bug-Gradient {
    background: #a8b820;
}
.ground-Gradient {
    background: #d0b058;
}
.fighting-Gradient {
    background: #a05038;
}
.ghost-Gradient {
    background: #6060b0;
}
.steel-Gradient {
    background: #a8a8c0;
}
.dark-Gradient {
    background: #705848;
}
  