.grass-Gradient {
    background: linear-gradient(to top, #98cf7d, #a3f8e9);
}
.fire-Gradient {
    background: linear-gradient(to top, #f05030, #F88625);
}
.water-Gradient {
    background: linear-gradient(to top, #3898f8, #2DFCF6);
}
.poison-Gradient {
    background: linear-gradient(to top, #8E55BD, #b058a0);
}
.psychic-Gradient {
    background: linear-gradient(to top, #f870a0, #DF65FC);
}
.flying-Gradient{
    background: linear-gradient(to top, #857ED9, #98a8f0);
}
.electric-Gradient {
    background: linear-gradient(to top, #f8c030, #FCEA23);
}
.dragon-Gradient {
    background: linear-gradient(to top, #7860e0, #5A8DED);
}
.normal-Gradient {
    background: linear-gradient(to top, #B5A193, #B5A193);
}
.rock-Gradient {
    background: linear-gradient(to top, #C49054, #b8a058);
}
.ice-Gradient {
    background: linear-gradient(to top, #58c8e0, #54F7E9);
}
.fairy-Gradient {
    background: linear-gradient(to top, #FD9DAE, #f1a7f9);
}
.bug-Gradient {
    background: linear-gradient(to top, #a8b820, #3BC418);
}
.ground-Gradient {
    background: linear-gradient(to top, #d0b058, #DED552);
}
.fighting-Gradient {
    background: linear-gradient(to top, #A05038, #AD7434);
}
.ghost-Gradient {
    background: linear-gradient(to top, #925EBD, #6060b0);
}
.steel-Gradient {
    background: linear-gradient(to top, #a8a8c0, #A7BBCC);
}
.dark-Gradient {
    background: linear-gradient(to top, #000000, #332F2E);
}
  